@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Brush+Script&family=Song+Myung&display=swap');
* {
    font-family: 'Gowun Dodum', sans-serif;
}
body{
	background-color:#F6FEFF;
}
button:hover{
	background-color:black;
	color:white;
}
.button_disign{
	margin-top:20px;
	margin-bottom:0px;
}
h1{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	display:inline;
}
hr{
	margin-top: 20px;
	margin-bottom: 20px;
}
#head{
	text-align: center;
}
p{
	margin-top:10;
	font-size:15px;
}
table{
	border:solid;
	border-width:1px;
	border-collapse:collapse;
	width:80%;
	table-layout:fixed;
	margin-left: auto; margin-right: auto;
}
tr,td{
	border:solid;
	border-width:1px;
	border-collapse:collapse;
	text-align:center;
	height:50px;
	vertical-align:middle;
	padding:"center";
}
th{
	border:solid;
	border-width:1px;
	border-collapse:collapse;
	text-align:center;
	height:70px;
	vertical-align:middle;
	padding:"center";
	background-color:#CCFFE5;
}
.list_head{
	text-align: center;
}
